td {
    border: 1px solid;
    width: 300px;
    text-align: center;
}

div.nodename {
    font-family: Arial;
    font-size: 12.5px;
    padding-bottom: 5px;
}
tr.RawOfPhases {

}



#DownloadButton {

}

td.PhaseName {
    font-family: Arial, Helvetica, sans-serif;
}

td.NodeCell {
    height: 500px;
    vertical-align: top;
}

tr.RawOfNodeCells {

}
table.Table {

}

body.Body {

}

.nodeText {
    height: 300px;
    font-size: 10px;
    text-align: center;

}

.nodeThumbnail {
    height: 300px;
    font-size: 10px;
    text-align: center;
}

table img {
    width: 100%;
    height: 100%;
}


.decorator_list_dot {

}

.decorator_arrow {
  font-family: "Fira Code";
  white-space: nowrap;
}

.edge_box {
  padding: 3px;
  text-align: left;
}

.edge_action {

}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

}
#overlay-transparent {
    opacity: 0.5;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;

}
#ZoomedImage {
    transform: scale(0.8,0.8);
    opacity:1;
    position: absolute;
    z-index: 3;
}
#vueApp {
}

.backgroung-non-overlaid {
    z-index: 1;
}

.background-overlaid {
    position: fixed;
    z-index: 1;
}

#functionalButtons {
    position: absolute;
}

.Button {
    background-color: green;
    opacity: 0.5;
}

#dataContainer {
    visibility: hidden;
}

div.nodeProperties {
    background-color: lightblue;
    text-align: left;
}