<html>
    <head>
        <title>Screen Transition Diagram</title>
        <!-- <link rel="stylesheet" type="text/css" href="sample.css"> -->
        <style>{{ StandAloneCss }}</style>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <div id='vueApp'>
            <div id='overlay' v-if='isOverlaying' v-on:click='unzoom' accesskey="q">
                <div id='overlay-transparent'></div>
                <div id='ZoomedImage'>
                    <!-- <div id='functionalButtons'>
                        <div class='Button' id='changeImage'>→ ANOTHER IMAGE</div>
                        <div class='Button'><a v-bind:href='zoomedImage' v-bind:download='zoomedImage' id='saveImage'>↓ SAVE IMAGE</a></div>
                        <div class='Button' id='showTransition'>* TRANSITION</div>
                    </div> -->
                    <img v-bind:src='zoomedImage'>
                </div>
            </div>
            <div id='content' v-bind:class='lockBackground()'>
                {{ content }}
            </div>
            <div id='dataContainer'>
            </div>
        </div>
    </body>
</html>